/* src/styles/Progressbar.css */
.progressbar {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 0px;
  display: flex;
  height: 10px;
  width: 150px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: linear-gradient(90deg, #9f55ff, #7000ff);
  height: 10px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
}

.myskills {
  font-size: 40px;
  background: linear-gradient(90deg, #9f55ff, #7000ff);
  -webkit-background-clip: text;
  color: transparent; 
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.reacttext{
  margin-top: 5px;
  margin-bottom: 5px
}
.circle{
margin-left: 50px;
margin-top: -30px;
}
.skillstext{
  text-align: left;
  margin-left: 30px;
}
.skills{
  font-family: "Abel", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.text-lg{
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: medium ;
}